In [4]:
import pandas as pd
df = pd.read_csv('/content/Real_Estate_Sales_2001-2022_GL-Short.csv', index_col="Serial Number") # Added the filepath to the read_csv function
print(df)

               List Year Date Recorded        Town                Address  \
Serial Number
2020177             2020    04/14/2021     Ansonia          323 BEAVER ST
2020225             2020    05/26/2021     Ansonia         152 JACKSON ST
2020348             2020    09/13/2021     Ansonia        230 WAKELEE AVE
2020090             2020    12/14/2020     Ansonia            57 PLATT ST
200500              2020    09/07/2021        Avon           245 NEW ROAD
...                  ...           ...         ...                    ...
201166              2020    08/26/2021     Meriden  6006 MEETINGHOUSE VLG
200177              2020    06/09/2021  Middlebury       289 BURR HALL RD
200531              2020    04/05/2021  Middletown         87 WESTWOOD LA
200888              2020    07/29/2021  Middletown            PHEDON PKWY
200092              2020    11/02/2020  Middletown    1692 BARTHOLOMEW RD

               Assessed Value  Sale Amount  Sales Ratio Property Type  \
Serial Number
2020177              133000.0     248400.0     0.535400   Residential
2020225              110500.0     239900.0     0.460600   Residential
2020348              150500.0     325000.0     0.463000    Commercial
2020090              127400.0     202500.0     0.629100   Residential
200500               217640.0     400000.0     0.544100   Residential
...                       ...          ...          ...           ...
201166                59430.0     135000.0     0.440200   Residential
200177              1144200.0    1676250.0     0.682595   Residential
200531               285040.0     400000.0     0.712600   Residential
200888                49220.0     100000.0     0.492200   Vacant Land
200092               170650.0     325000.0     0.525000   Residential

              Residential Type Non Use Code Assessor Remarks  OPM remarks  \
Serial Number
2020177          Single Family          NaN              NaN          NaN
2020225           Three Family          NaN              NaN          NaN
2020348                    NaN          NaN              NaN          NaN
2020090             Two Family          NaN              NaN          NaN
200500           Single Family          NaN              NaN          NaN
...                        ...          ...              ...          ...
201166                   Condo          NaN              NaN          NaN
200177           Single Family          NaN              NaN          NaN
200531           Single Family          NaN              NaN          NaN
200888                     NaN          NaN              NaN          NaN
200092           Single Family          NaN              NaN          NaN

                                 Location
Serial Number
2020177        POINT (-73.06822 41.35014)
2020225                               NaN
2020348                               NaN
2020090                               NaN
200500                                NaN
...                                   ...
201166                                NaN
200177                                NaN
200531                                NaN
200888                                NaN
200092                                NaN

[142 rows x 13 columns]

In [5]:
print(df.info())
print(df.dtypes)
print(df.describe())
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 142 entries, 2020177 to 200092
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   List Year         142 non-null    int64
 1   Date Recorded     142 non-null    object
 2   Town              142 non-null    object
 3   Address           142 non-null    object
 4   Assessed Value    142 non-null    float64
 5   Sale Amount       142 non-null    float64
 6   Sales Ratio       142 non-null    float64
 7   Property Type     142 non-null    object
 8   Residential Type  115 non-null    object
 9   Non Use Code      8 non-null      object
 10  Assessor Remarks  14 non-null     object
 11  OPM remarks       0 non-null      float64
 12  Location          9 non-null      object
dtypes: float64(4), int64(1), object(8)
memory usage: 15.5+ KB
None
List Year             int64
Date Recorded        object
Town                 object
Address              object
Assessed Value      float64
Sale Amount         float64
Sales Ratio         float64
Property Type        object
Residential Type     object
Non Use Code         object
Assessor Remarks     object
OPM remarks         float64
Location             object
dtype: object
       List Year  Assessed Value   Sale Amount  Sales Ratio  OPM remarks
count      142.0    1.420000e+02  1.420000e+02   142.000000          0.0
mean      2020.0    2.327889e+05  3.853573e+05     0.589640          NaN
std          0.0    3.529366e+05  5.086467e+05     0.160655          NaN
min       2020.0    6.230000e+03  1.000000e+04     0.119700          NaN
25%       2020.0    9.163250e+04  1.675000e+05     0.495175          NaN
50%       2020.0    1.457750e+05  2.600000e+05     0.552550          NaN
75%       2020.0    2.066500e+05  3.726250e+05     0.675575          NaN
max       2020.0    2.623950e+06  3.900000e+06     1.283000          NaN
(142, 13)

In [6]:
#parameters
print(df.to_string(index=False, na_rep="No Data", max_rows=10, justify='center'))

 List Year Date Recorded    Town           Address         Assessed Value  Sale Amount  Sales Ratio Property Type Residential Type Non Use Code Assessor Remarks  OPM remarks          Location
   2020      04/14/2021     Ansonia         323 BEAVER ST     133000.0      248400.0     0.535400    Residential   Single Family     No Data        No Data        No Data    POINT (-73.06822 41.35014)
   2020      05/26/2021     Ansonia        152 JACKSON ST     110500.0      239900.0     0.460600    Residential    Three Family     No Data        No Data        No Data                       No Data
   2020      09/13/2021     Ansonia       230 WAKELEE AVE     150500.0      325000.0     0.463000     Commercial         No Data     No Data        No Data        No Data                       No Data
   2020      12/14/2020     Ansonia           57 PLATT ST     127400.0      202500.0     0.629100    Residential      Two Family     No Data        No Data        No Data                       No Data
   2020      09/07/2021        Avon          245 NEW ROAD     217640.0      400000.0     0.544100    Residential   Single Family     No Data        No Data        No Data                       No Data
       ...           ...        ...                   ...             ...          ...          ...           ...              ...          ...              ...          ...                        ...
   2020      08/26/2021     Meriden 6006 MEETINGHOUSE VLG      59430.0      135000.0     0.440200    Residential           Condo     No Data        No Data        No Data                       No Data
   2020      06/09/2021  Middlebury      289 BURR HALL RD    1144200.0     1676250.0     0.682595    Residential   Single Family     No Data        No Data        No Data                       No Data
   2020      04/05/2021  Middletown        87 WESTWOOD LA     285040.0      400000.0     0.712600    Residential   Single Family     No Data        No Data        No Data                       No Data
   2020      07/29/2021  Middletown           PHEDON PKWY      49220.0      100000.0     0.492200    Vacant Land         No Data     No Data        No Data        No Data                       No Data
   2020      11/02/2020  Middletown   1692 BARTHOLOMEW RD     170650.0      325000.0     0.525000    Residential   Single Family     No Data        No Data        No Data                       No Data

In [7]:
print(df.head(7))

               List Year Date Recorded         Town           Address  \
Serial Number
2020177             2020    04/14/2021      Ansonia     323 BEAVER ST
2020225             2020    05/26/2021      Ansonia    152 JACKSON ST
2020348             2020    09/13/2021      Ansonia   230 WAKELEE AVE
2020090             2020    12/14/2020      Ansonia       57 PLATT ST
200500              2020    09/07/2021         Avon      245 NEW ROAD
200121              2020    12/15/2020         Avon      63 NORTHGATE
20058               2020    06/01/2021  Barkhamsted  46 RATLUM MTN RD

               Assessed Value  Sale Amount  Sales Ratio Property Type  \
Serial Number
2020177              133000.0     248400.0     0.535400   Residential
2020225              110500.0     239900.0     0.460600   Residential
2020348              150500.0     325000.0     0.463000    Commercial
2020090              127400.0     202500.0     0.629100   Residential
200500               217640.0     400000.0     0.544100   Residential
200121               528490.0     775000.0     0.681900   Residential
20058                203530.0     415000.0     0.490434   Residential

              Residential Type Non Use Code  \
Serial Number
2020177          Single Family          NaN
2020225           Three Family          NaN
2020348                    NaN          NaN
2020090             Two Family          NaN
200500           Single Family          NaN
200121           Single Family          NaN
20058            Single Family          NaN

                                Assessor Remarks  OPM remarks  \
Serial Number
2020177                                      NaN          NaN
2020225                                      NaN          NaN
2020348                                      NaN          NaN
2020090                                      NaN          NaN
200500                                       NaN          NaN
200121                                       NaN          NaN
20058          2003 COLONIAL, 2140 SFLA, 2.99 AC          NaN

                                 Location
Serial Number
2020177        POINT (-73.06822 41.35014)
2020225                               NaN
2020348                               NaN
2020090                               NaN
200500                                NaN
200121         POINT (-72.89675 41.79445)
20058                                 NaN

In [8]:
print(df.tail(9))

               List Year Date Recorded        Town                Address  \
Serial Number
200784              2020    05/17/2021     Meriden         69 LINSLEY AVE
200961              2020    07/01/2021     Meriden       52 ROYAL OAK CIR
201015              2020    07/16/2021     Meriden     209 BLACKSTONE VLG
201123              2020    08/16/2021     Meriden           30 LA MIRAGE
201166              2020    08/26/2021     Meriden  6006 MEETINGHOUSE VLG
200177              2020    06/09/2021  Middlebury       289 BURR HALL RD
200531              2020    04/05/2021  Middletown         87 WESTWOOD LA
200888              2020    07/29/2021  Middletown            PHEDON PKWY
200092              2020    11/02/2020  Middletown    1692 BARTHOLOMEW RD

               Assessed Value  Sale Amount  Sales Ratio Property Type  \
Serial Number
200784               165830.0     325000.0     0.510200    Apartments
200961               130340.0     305000.0     0.427300   Residential
201015                37240.0     114900.0     0.324100   Residential
201123                74060.0     145000.0     0.510700   Residential
201166                59430.0     135000.0     0.440200   Residential
200177              1144200.0    1676250.0     0.682595   Residential
200531               285040.0     400000.0     0.712600   Residential
200888                49220.0     100000.0     0.492200   Vacant Land
200092               170650.0     325000.0     0.525000   Residential

              Residential Type Non Use Code Assessor Remarks  OPM remarks  \
Serial Number
200784                     NaN          NaN              NaN          NaN
200961           Single Family          NaN              NaN          NaN
201015                   Condo          NaN              NaN          NaN
201123                   Condo          NaN              NaN          NaN
201166                   Condo          NaN              NaN          NaN
200177           Single Family          NaN              NaN          NaN
200531           Single Family          NaN              NaN          NaN
200888                     NaN          NaN              NaN          NaN
200092           Single Family          NaN              NaN          NaN

              Location
Serial Number
200784             NaN
200961             NaN
201015             NaN
201123             NaN
201166             NaN
200177             NaN
200531             NaN
200888             NaN
200092             NaN

In [9]:
print(df["Town"])
print(df["Residential Type"])

Serial Number
2020177       Ansonia
2020225       Ansonia
2020348       Ansonia
2020090       Ansonia
200500           Avon
              ...
201166        Meriden
200177     Middlebury
200531     Middletown
200888     Middletown
200092     Middletown
Name: Town, Length: 142, dtype: object
Serial Number
2020177    Single Family
2020225     Three Family
2020348              NaN
2020090       Two Family
200500     Single Family
               ...
201166             Condo
200177     Single Family
200531     Single Family
200888               NaN
200092     Single Family
Name: Residential Type, Length: 142, dtype: object

In [10]:
print(df[["Town", "Date Recorded"]])

                     Town Date Recorded
Serial Number
2020177           Ansonia    04/14/2021
2020225           Ansonia    05/26/2021
2020348           Ansonia    09/13/2021
2020090           Ansonia    12/14/2020
200500               Avon    09/07/2021
...                   ...           ...
201166            Meriden    08/26/2021
200177         Middlebury    06/09/2021
200531         Middletown    04/05/2021
200888         Middletown    07/29/2021
200092         Middletown    11/02/2020

[142 rows x 2 columns]

In [11]:
print(df.loc[200008])

List Year                       2020
Date Recorded             10/21/2020
Town                       Bethlehem
Address             34 HIGHLAND ROAD
Assessed Value               82000.0
Sale Amount                 106000.0
Sales Ratio                   0.7735
Property Type            Residential
Residential Type       Single Family
Non Use Code                     NaN
Assessor Remarks                 NaN
OPM remarks                      NaN
Location                         NaN
Name: 200008, dtype: object

In [12]:
print(df.loc[[200305, 200207, 20000048]])

               List Year Date Recorded        Town  \
Serial Number
200305              2020    02/22/2021    Branford
200207              2020    11/23/2020     Bristol
20000048            2020    11/04/2020  Brookfield

                                      Address  Assessed Value  Sale Amount  \
Serial Number
200305             49 ROSE ST TOWERS UNIT 402         97800.0     147000.0
200207         BROAD PLACE LOTS 225-6 AND 224          8400.0      38500.0
20000048                  101 OBTUSE RD SOUTH        378680.0     537000.0

               Sales Ratio Property Type Residential Type Non Use Code  \
Serial Number
200305            0.665300   Residential            Condo          NaN
200207            0.218100   Vacant Land              NaN   25 - Other
20000048          0.705177   Residential    Single Family          NaN

                Assessor Remarks  OPM remarks                    Location
Serial Number
200305                       NaN          NaN                         NaN
200207         MULTIPLE LOT SALE          NaN  POINT (-72.90406 41.66996)
20000048                     NaN          NaN                         NaN

In [13]:
print(df.loc[2020090:200121])

               List Year Date Recorded     Town       Address  Assessed Value  \
Serial Number
2020090             2020    12/14/2020  Ansonia   57 PLATT ST        127400.0
200500              2020    09/07/2021     Avon  245 NEW ROAD        217640.0
200121              2020    12/15/2020     Avon  63 NORTHGATE        528490.0

               Sale Amount  Sales Ratio Property Type Residential Type  \
Serial Number
2020090           202500.0       0.6291   Residential       Two Family
200500            400000.0       0.5441   Residential    Single Family
200121            775000.0       0.6819   Residential    Single Family

              Non Use Code Assessor Remarks  OPM remarks  \
Serial Number
2020090                NaN              NaN          NaN
200500                 NaN              NaN          NaN
200121                 NaN              NaN          NaN

                                 Location
Serial Number
2020090                               NaN
200500                                NaN
200121         POINT (-72.89675 41.79445)

In [14]:
print(df.loc[df["Sale Amount"] > 202500])

               List Year Date Recorded        Town              Address  \
Serial Number
2020177             2020    04/14/2021     Ansonia        323 BEAVER ST
2020225             2020    05/26/2021     Ansonia       152 JACKSON ST
2020348             2020    09/13/2021     Ansonia      230 WAKELEE AVE
200500              2020    09/07/2021        Avon         245 NEW ROAD
200121              2020    12/15/2020        Avon         63 NORTHGATE
...                  ...           ...         ...                  ...
200784              2020    05/17/2021     Meriden       69 LINSLEY AVE
200961              2020    07/01/2021     Meriden     52 ROYAL OAK CIR
200177              2020    06/09/2021  Middlebury     289 BURR HALL RD
200531              2020    04/05/2021  Middletown       87 WESTWOOD LA
200092              2020    11/02/2020  Middletown  1692 BARTHOLOMEW RD

               Assessed Value  Sale Amount  Sales Ratio Property Type  \
Serial Number
2020177              133000.0     248400.0     0.535400   Residential
2020225              110500.0     239900.0     0.460600   Residential
2020348              150500.0     325000.0     0.463000    Commercial
200500               217640.0     400000.0     0.544100   Residential
200121               528490.0     775000.0     0.681900   Residential
...                       ...          ...          ...           ...
200784               165830.0     325000.0     0.510200    Apartments
200961               130340.0     305000.0     0.427300   Residential
200177              1144200.0    1676250.0     0.682595   Residential
200531               285040.0     400000.0     0.712600   Residential
200092               170650.0     325000.0     0.525000   Residential

              Residential Type Non Use Code Assessor Remarks  OPM remarks  \
Serial Number
2020177          Single Family          NaN              NaN          NaN
2020225           Three Family          NaN              NaN          NaN
2020348                    NaN          NaN              NaN          NaN
200500           Single Family          NaN              NaN          NaN
200121           Single Family          NaN              NaN          NaN
...                        ...          ...              ...          ...
200784                     NaN          NaN              NaN          NaN
200961           Single Family          NaN              NaN          NaN
200177           Single Family          NaN              NaN          NaN
200531           Single Family          NaN              NaN          NaN
200092           Single Family          NaN              NaN          NaN

                                 Location
Serial Number
2020177        POINT (-73.06822 41.35014)
2020225                               NaN
2020348                               NaN
200500                                NaN
200121         POINT (-72.89675 41.79445)
...                                   ...
200784                                NaN
200961                                NaN
200177                                NaN
200531                                NaN
200092                                NaN

[94 rows x 13 columns]

In [15]:
print(df.loc[df["Town"] == "Ansonia"])

               List Year Date Recorded     Town          Address  \
Serial Number
2020177             2020    04/14/2021  Ansonia    323 BEAVER ST
2020225             2020    05/26/2021  Ansonia   152 JACKSON ST
2020348             2020    09/13/2021  Ansonia  230 WAKELEE AVE
2020090             2020    12/14/2020  Ansonia      57 PLATT ST

               Assessed Value  Sale Amount  Sales Ratio Property Type  \
Serial Number
2020177              133000.0     248400.0       0.5354   Residential
2020225              110500.0     239900.0       0.4606   Residential
2020348              150500.0     325000.0       0.4630    Commercial
2020090              127400.0     202500.0       0.6291   Residential

              Residential Type Non Use Code Assessor Remarks  OPM remarks  \
Serial Number
2020177          Single Family          NaN              NaN          NaN
2020225           Three Family          NaN              NaN          NaN
2020348                    NaN          NaN              NaN          NaN
2020090             Two Family          NaN              NaN          NaN

                                 Location
Serial Number
2020177        POINT (-73.06822 41.35014)
2020225                               NaN
2020348                               NaN
2020090                               NaN

In [17]:
print(df.loc[(df["Residential Type"] == "Condo") & (df["Assessed Value"] < 180500)])

               List Year Date Recorded          Town  \
Serial Number
200016              2020    11/13/2020  Beacon Falls
200305              2020    02/22/2021      Branford
200186              2020    12/11/2020      Branford
201354              2020    09/23/2021       Bristol
200110              2020    01/14/2021      Cromwell
200485              2020    01/13/2021       Danbury
200099              2020    10/20/2020       Danbury
20176               2020    02/03/2021        Darien
200372              2020    04/05/2021    East Haven
200548              2020    05/27/2021       Enfield
200932              2020    09/24/2021       Enfield
20000214            2020    07/13/2021        Granby
201238              2020    06/21/2021      Griswold
200179              2020    12/11/2020        Groton
200175              2020    03/11/2021     Killingly
201015              2020    07/16/2021       Meriden
201123              2020    08/16/2021       Meriden
201166              2020    08/26/2021       Meriden

                                  Address  Assessed Value  Sale Amount  \
Serial Number
200016                       9 AVON COURT         65590.0     100000.0
200305         49 ROSE ST TOWERS UNIT 402         97800.0     147000.0
200186                         3 GROVE CT         43400.0      86501.0
201354                   103 BUTTERNUT LN         61950.0     129900.0
200110                       25 MIDWAY DR        128200.0     208000.0
200485                27 CROWS NEST LA 6A        110300.0     195000.0
200099                   15 SCUPPO RD 803        161400.0     270000.0
20176                      14 GIDEON LANE        114170.0     184499.0
200372                 75 REDWOOD DR #704         89580.0     165000.0
200548                        51 DARTMOOR        180480.0     330000.0
200932                       HAMLET B03UF         88610.0     189900.0
20000214                   15 WINDMILL DR        112350.0     199000.0
201238           33 RUSSEL STREET UNIT 10         47180.0     123800.0
200179                31 THAMES HEIGHT LN        109340.0     160000.0
200175                        62 ATHOL ST         55860.0     102000.0
201015                 209 BLACKSTONE VLG         37240.0     114900.0
201123                       30 LA MIRAGE         74060.0     145000.0
201166              6006 MEETINGHOUSE VLG         59430.0     135000.0

               Sales Ratio Property Type Residential Type Non Use Code  \
Serial Number
200016            0.655900   Residential            Condo          NaN
200305            0.665300   Residential            Condo          NaN
200186            0.501700   Residential            Condo          NaN
201354            0.476900   Residential            Condo          NaN
200110            0.616300   Residential            Condo   25 - Other
200485            0.565600   Residential            Condo          NaN
200099            0.597700   Residential            Condo          NaN
20176             0.618800   Residential            Condo          NaN
200372            0.542900   Residential            Condo          NaN
200548            0.546900   Residential            Condo          NaN
200932            0.466600   Residential            Condo          NaN
20000214          0.564500   Residential            Condo          NaN
201238            0.381099   Residential            Condo          NaN
200179            0.683300   Residential            Condo          NaN
200175            0.547600   Residential            Condo          NaN
201015            0.324100   Residential            Condo          NaN
201123            0.510700   Residential            Condo          NaN
201166            0.440200   Residential            Condo          NaN

              Assessor Remarks  OPM remarks                    Location
Serial Number
200016                     NaN          NaN                         NaN
200305                     NaN          NaN                         NaN
200186                     NaN          NaN                         NaN
201354                     NaN          NaN                         NaN
200110            BAA OVERRIDE          NaN                         NaN
200485               L15008-61          NaN                         NaN
200099              F14068-803          NaN                         NaN
20176                      NaN          NaN                         NaN
200372                     NaN          NaN  POINT (-72.84836 41.32761)
200548                     NaN          NaN                         NaN
200932                     NaN          NaN                         NaN
20000214                   NaN          NaN                         NaN
201238                     NaN          NaN                         NaN
200179                     NaN          NaN                         NaN
200175                     NaN          NaN                         NaN
201015                     NaN          NaN                         NaN
201123                     NaN          NaN                         NaN
201166                     NaN          NaN                         NaN

In [16]:
print(df.loc[201354, ["Address", "Assessed Value", "Sale Amount", "Sales Ratio", "Property Type"]])

Address           103 BUTTERNUT LN
Assessed Value             61950.0
Sale Amount               129900.0
Sales Ratio                 0.4769
Property Type          Residential
Name: 201354, dtype: object

In [18]:
print(df.loc[:, "Date Recorded":"Sale Amount"])

              Date Recorded        Town                Address  \
Serial Number
2020177          04/14/2021     Ansonia          323 BEAVER ST
2020225          05/26/2021     Ansonia         152 JACKSON ST
2020348          09/13/2021     Ansonia        230 WAKELEE AVE
2020090          12/14/2020     Ansonia            57 PLATT ST
200500           09/07/2021        Avon           245 NEW ROAD
...                     ...         ...                    ...
201166           08/26/2021     Meriden  6006 MEETINGHOUSE VLG
200177           06/09/2021  Middlebury       289 BURR HALL RD
200531           04/05/2021  Middletown         87 WESTWOOD LA
200888           07/29/2021  Middletown            PHEDON PKWY
200092           11/02/2020  Middletown    1692 BARTHOLOMEW RD

               Assessed Value  Sale Amount
Serial Number
2020177              133000.0     248400.0
2020225              110500.0     239900.0
2020348              150500.0     325000.0
2020090              127400.0     202500.0
200500               217640.0     400000.0
...                       ...          ...
201166                59430.0     135000.0
200177              1144200.0    1676250.0
200531               285040.0     400000.0
200888                49220.0     100000.0
200092               170650.0     325000.0

[142 rows x 5 columns]

In [19]:
print(df.loc[df["Residential Type"] == "Condo", "Date Recorded":"Assessed Value"])

              Date Recorded          Town                     Address  \
Serial Number
200016           11/13/2020  Beacon Falls                9 AVON COURT
20364            06/17/2021        Bethel    1308 LEXINGTON BOULEVARD
200305           02/22/2021      Branford  49 ROSE ST TOWERS UNIT 402
200186           12/11/2020      Branford                  3 GROVE CT
201354           09/23/2021       Bristol            103 BUTTERNUT LN
200110           01/14/2021      Cromwell                25 MIDWAY DR
200081           12/14/2020      Cromwell            11 MYSTIQUE LANE
200485           01/13/2021       Danbury         27 CROWS NEST LA 6A
201402           08/24/2021       Danbury               305 LARSON DR
200099           10/20/2020       Danbury            15 SCUPPO RD 803
20176            02/03/2021        Darien              14 GIDEON LANE
200108           07/14/2021   East Granby       6 SCHOOLHOUSE LANDING
200372           04/05/2021    East Haven          75 REDWOOD DR #704
200548           05/27/2021       Enfield                 51 DARTMOOR
200932           09/24/2021       Enfield                HAMLET B03UF
200086           01/12/2021         Essex                 34 PRATT #A
20000214         07/13/2021        Granby              15 WINDMILL DR
201238           06/21/2021      Griswold    33 RUSSEL STREET UNIT 10
200179           12/11/2020        Groton         31 THAMES HEIGHT LN
200175           03/11/2021     Killingly                 62 ATHOL ST
201015           07/16/2021       Meriden          209 BLACKSTONE VLG
201123           08/16/2021       Meriden                30 LA MIRAGE
201166           08/26/2021       Meriden       6006 MEETINGHOUSE VLG

               Assessed Value
Serial Number
200016                65590.0
20364                195300.0
200305                97800.0
200186                43400.0
201354                61950.0
200110               128200.0
200081               210350.0
200485               110300.0
201402               188600.0
200099               161400.0
20176                114170.0
200108               211100.0
200372                89580.0
200548               180480.0
200932                88610.0
200086               623900.0
20000214             112350.0
201238                47180.0
200179               109340.0
200175                55860.0
201015                37240.0
201123                74060.0
201166                59430.0

In [20]:
print(df.iloc[4])

List Year                    2020
Date Recorded          09/07/2021
Town                         Avon
Address              245 NEW ROAD
Assessed Value           217640.0
Sale Amount              400000.0
Sales Ratio                0.5441
Property Type         Residential
Residential Type    Single Family
Non Use Code                  NaN
Assessor Remarks              NaN
OPM remarks                   NaN
Location                      NaN
Name: 200500, dtype: object

In [21]:
print(df.iloc[[6, 8, 14]])

               List Year Date Recorded          Town           Address  \
Serial Number
20058               2020    06/01/2021   Barkhamsted  46 RATLUM MTN RD
200016              2020    11/13/2020  Beacon Falls      9 AVON COURT
200008              2020    10/21/2020     Bethlehem  34 HIGHLAND ROAD

               Assessed Value  Sale Amount  Sales Ratio Property Type  \
Serial Number
20058                203530.0     415000.0     0.490434   Residential
200016                65590.0     100000.0     0.655900   Residential
200008                82000.0     106000.0     0.773500   Residential

              Residential Type Non Use Code  \
Serial Number
20058            Single Family          NaN
200016                   Condo          NaN
200008           Single Family          NaN

                                Assessor Remarks  OPM remarks Location
Serial Number
20058          2003 COLONIAL, 2140 SFLA, 2.99 AC          NaN      NaN
200016                                       NaN          NaN      NaN
200008                                       NaN          NaN      NaN

In [22]:
print(df.iloc[4:13])

               List Year Date Recorded          Town  \
Serial Number
200500              2020    09/07/2021          Avon
200121              2020    12/15/2020          Avon
20058               2020    06/01/2021   Barkhamsted
200046              2020    01/25/2021  Beacon Falls
200016              2020    11/13/2020  Beacon Falls
2020360             2020    08/10/2021        Berlin
20281               2020    04/21/2021        Bethel
20364               2020    06/17/2021        Bethel
20423               2020    07/21/2021        Bethel

                                Address  Assessed Value  Sale Amount  \
Serial Number
200500                     245 NEW ROAD        217640.0     400000.0
200121                     63 NORTHGATE        528490.0     775000.0
20058                  46 RATLUM MTN RD        203530.0     415000.0
200046                    34 LASKY ROAD        158030.0     243000.0
200016                     9 AVON COURT         65590.0     100000.0
2020360                 94 PERCIVAL AVE        140600.0     190790.0
20281                  16 OXFORD STREET        170800.0     307000.0
20364          1308 LEXINGTON BOULEVARD        195300.0     365000.0
20423               10 CASTLE HILL ROAD        219870.0     325000.0

               Sales Ratio Property Type Residential Type Non Use Code  \
Serial Number
200500            0.544100   Residential    Single Family          NaN
200121            0.681900   Residential    Single Family          NaN
20058             0.490434   Residential    Single Family          NaN
200046            0.650300   Residential    Single Family          NaN
200016            0.655900   Residential            Condo          NaN
2020360           0.736900   Residential    Single Family          NaN
20281             0.556300   Residential    Single Family          NaN
20364             0.535000   Residential            Condo          NaN
20423             0.676500   Residential    Single Family          NaN

                                Assessor Remarks  OPM remarks  \
Serial Number
200500                                       NaN          NaN
200121                                       NaN          NaN
20058          2003 COLONIAL, 2140 SFLA, 2.99 AC          NaN
200046                                       NaN          NaN
200016                                       NaN          NaN
2020360                                      NaN          NaN
20281                                        NaN          NaN
20364                                        NaN          NaN
20423                                        NaN          NaN

                                 Location
Serial Number
200500                                NaN
200121         POINT (-72.89675 41.79445)
20058                                 NaN
200046                                NaN
200016                                NaN
2020360                               NaN
20281                                 NaN
20364                                 NaN
20423                                 NaN

In [23]:
print(df.iloc[:, 2])

Serial Number
2020177       Ansonia
2020225       Ansonia
2020348       Ansonia
2020090       Ansonia
200500           Avon
              ...
201166        Meriden
200177     Middlebury
200531     Middletown
200888     Middletown
200092     Middletown
Name: Town, Length: 142, dtype: object

In [24]:
print(df.iloc[:, 1:5])

              Date Recorded        Town                Address  Assessed Value
Serial Number
2020177          04/14/2021     Ansonia          323 BEAVER ST        133000.0
2020225          05/26/2021     Ansonia         152 JACKSON ST        110500.0
2020348          09/13/2021     Ansonia        230 WAKELEE AVE        150500.0
2020090          12/14/2020     Ansonia            57 PLATT ST        127400.0
200500           09/07/2021        Avon           245 NEW ROAD        217640.0
...                     ...         ...                    ...             ...
201166           08/26/2021     Meriden  6006 MEETINGHOUSE VLG         59430.0
200177           06/09/2021  Middlebury       289 BURR HALL RD       1144200.0
200531           04/05/2021  Middletown         87 WESTWOOD LA        285040.0
200888           07/29/2021  Middletown            PHEDON PKWY         49220.0
200092           11/02/2020  Middletown    1692 BARTHOLOMEW RD        170650.0

[142 rows x 4 columns]

In [25]:
print(df.iloc[[6, 8, 14], [1, 3]])

              Date Recorded           Address
Serial Number
20058            06/01/2021  46 RATLUM MTN RD
200016           11/13/2020      9 AVON COURT
200008           10/21/2020  34 HIGHLAND ROAD

In [26]:
print(df.iloc[[1, 5], 1:4])

              Date Recorded     Town         Address
Serial Number
2020225          05/26/2021  Ansonia  152 JACKSON ST
200121           12/15/2020     Avon    63 NORTHGATE

In [31]:
result = df.query("`Assessed Value` < 127400 and `Property Type` == 'Commercial' and `Residential Type` != 'Single Family'")
print(result)

               List Year Date Recorded          Town           Address  \
Serial Number
200114              2020    04/13/2021  East Windsor      12A PASCO DR
200097              2020    12/11/2020     Killingly       106 MAIN ST
200562              2020    03/15/2021       Meriden  302 EAST MAIN ST

               Assessed Value  Sale Amount  Sales Ratio Property Type  \
Serial Number
200114               108920.0     144000.0       0.7563    Commercial
200097                64400.0      66900.0       0.9626    Commercial
200562               111090.0     150000.0       0.7406    Commercial

              Residential Type Non Use Code Assessor Remarks  OPM remarks  \
Serial Number
200114                     NaN          NaN       COMM CONDO          NaN
200097                     NaN          NaN              NaN          NaN
200562                     NaN          NaN              NaN          NaN

              Location
Serial Number
200114             NaN
200097             NaN
200562             NaN

In [34]:
df = df.drop(index=df.index[2])
print(df)

               List Year Date Recorded        Town                Address  \
Serial Number
2020177             2020    04/14/2021     Ansonia          323 BEAVER ST
2020225             2020    05/26/2021     Ansonia         152 JACKSON ST
2020090             2020    12/14/2020     Ansonia            57 PLATT ST
200500              2020    09/07/2021        Avon           245 NEW ROAD
200121              2020    12/15/2020        Avon           63 NORTHGATE
...                  ...           ...         ...                    ...
201166              2020    08/26/2021     Meriden  6006 MEETINGHOUSE VLG
200177              2020    06/09/2021  Middlebury       289 BURR HALL RD
200531              2020    04/05/2021  Middletown         87 WESTWOOD LA
200888              2020    07/29/2021  Middletown            PHEDON PKWY
200092              2020    11/02/2020  Middletown    1692 BARTHOLOMEW RD

               Assessed Value  Sale Amount  Sales Ratio Property Type  \
Serial Number
2020177              133000.0     248400.0     0.535400   Residential
2020225              110500.0     239900.0     0.460600   Residential
2020090              127400.0     202500.0     0.629100   Residential
200500               217640.0     400000.0     0.544100   Residential
200121               528490.0     775000.0     0.681900   Residential
...                       ...          ...          ...           ...
201166                59430.0     135000.0     0.440200   Residential
200177              1144200.0    1676250.0     0.682595   Residential
200531               285040.0     400000.0     0.712600   Residential
200888                49220.0     100000.0     0.492200   Vacant Land
200092               170650.0     325000.0     0.525000   Residential

              Residential Type Non Use Code Assessor Remarks  OPM remarks  \
Serial Number
2020177          Single Family          NaN              NaN          NaN
2020225           Three Family          NaN              NaN          NaN
2020090             Two Family          NaN              NaN          NaN
200500           Single Family          NaN              NaN          NaN
200121           Single Family          NaN              NaN          NaN
...                        ...          ...              ...          ...
201166                   Condo          NaN              NaN          NaN
200177           Single Family          NaN              NaN          NaN
200531           Single Family          NaN              NaN          NaN
200888                     NaN          NaN              NaN          NaN
200092           Single Family          NaN              NaN          NaN

                                 Location
Serial Number
2020177        POINT (-73.06822 41.35014)
2020225                               NaN
2020090                               NaN
200500                                NaN
200121         POINT (-72.89675 41.79445)
...                                   ...
201166                                NaN
200177                                NaN
200531                                NaN
200888                                NaN
200092                                NaN

[141 rows x 13 columns]

In [37]:
df = df.drop(index=df.index[4:8])
print(df)

               List Year Date Recorded        Town                Address  \
Serial Number
2020177             2020    04/14/2021     Ansonia          323 BEAVER ST
2020225             2020    05/26/2021     Ansonia         152 JACKSON ST
2020090             2020    12/14/2020     Ansonia            57 PLATT ST
200500              2020    09/07/2021        Avon           245 NEW ROAD
20097               2020    11/25/2020      Bethel      8 BLACKMAN AVENUE
...                  ...           ...         ...                    ...
201166              2020    08/26/2021     Meriden  6006 MEETINGHOUSE VLG
200177              2020    06/09/2021  Middlebury       289 BURR HALL RD
200531              2020    04/05/2021  Middletown         87 WESTWOOD LA
200888              2020    07/29/2021  Middletown            PHEDON PKWY
200092              2020    11/02/2020  Middletown    1692 BARTHOLOMEW RD

               Assessed Value  Sale Amount  Sales Ratio Property Type  \
Serial Number
2020177              133000.0     248400.0     0.535400   Residential
2020225              110500.0     239900.0     0.460600   Residential
2020090              127400.0     202500.0     0.629100   Residential
200500               217640.0     400000.0     0.544100   Residential
20097                264040.0     445000.0     0.593300   Residential
...                       ...          ...          ...           ...
201166                59430.0     135000.0     0.440200   Residential
200177              1144200.0    1676250.0     0.682595   Residential
200531               285040.0     400000.0     0.712600   Residential
200888                49220.0     100000.0     0.492200   Vacant Land
200092               170650.0     325000.0     0.525000   Residential

              Residential Type Non Use Code Assessor Remarks  OPM remarks  \
Serial Number
2020177          Single Family          NaN              NaN          NaN
2020225           Three Family          NaN              NaN          NaN
2020090             Two Family          NaN              NaN          NaN
200500           Single Family          NaN              NaN          NaN
20097               Two Family          NaN              NaN          NaN
...                        ...          ...              ...          ...
201166                   Condo          NaN              NaN          NaN
200177           Single Family          NaN              NaN          NaN
200531           Single Family          NaN              NaN          NaN
200888                     NaN          NaN              NaN          NaN
200092           Single Family          NaN              NaN          NaN

                                 Location
Serial Number
2020177        POINT (-73.06822 41.35014)
2020225                               NaN
2020090                               NaN
200500                                NaN
20097                                 NaN
...                                   ...
201166                                NaN
200177                                NaN
200531                                NaN
200888                                NaN
200092                                NaN

[133 rows x 13 columns]

In [38]:
df = df.drop(columns="Residential Type")
print(df)

               List Year Date Recorded        Town                Address  \
Serial Number
2020177             2020    04/14/2021     Ansonia          323 BEAVER ST
2020225             2020    05/26/2021     Ansonia         152 JACKSON ST
2020090             2020    12/14/2020     Ansonia            57 PLATT ST
200500              2020    09/07/2021        Avon           245 NEW ROAD
20097               2020    11/25/2020      Bethel      8 BLACKMAN AVENUE
...                  ...           ...         ...                    ...
201166              2020    08/26/2021     Meriden  6006 MEETINGHOUSE VLG
200177              2020    06/09/2021  Middlebury       289 BURR HALL RD
200531              2020    04/05/2021  Middletown         87 WESTWOOD LA
200888              2020    07/29/2021  Middletown            PHEDON PKWY
200092              2020    11/02/2020  Middletown    1692 BARTHOLOMEW RD

               Assessed Value  Sale Amount  Sales Ratio Property Type  \
Serial Number
2020177              133000.0     248400.0     0.535400   Residential
2020225              110500.0     239900.0     0.460600   Residential
2020090              127400.0     202500.0     0.629100   Residential
200500               217640.0     400000.0     0.544100   Residential
20097                264040.0     445000.0     0.593300   Residential
...                       ...          ...          ...           ...
201166                59430.0     135000.0     0.440200   Residential
200177              1144200.0    1676250.0     0.682595   Residential
200531               285040.0     400000.0     0.712600   Residential
200888                49220.0     100000.0     0.492200   Vacant Land
200092               170650.0     325000.0     0.525000   Residential

              Non Use Code Assessor Remarks  OPM remarks  \
Serial Number
2020177                NaN              NaN          NaN
2020225                NaN              NaN          NaN
2020090                NaN              NaN          NaN
200500                 NaN              NaN          NaN
20097                  NaN              NaN          NaN
...                    ...              ...          ...
201166                 NaN              NaN          NaN
200177                 NaN              NaN          NaN
200531                 NaN              NaN          NaN
200888                 NaN              NaN          NaN
200092                 NaN              NaN          NaN

                                 Location
Serial Number
2020177        POINT (-73.06822 41.35014)
2020225                               NaN
2020090                               NaN
200500                                NaN
20097                                 NaN
...                                   ...
201166                                NaN
200177                                NaN
200531                                NaN
200888                                NaN
200092                                NaN

[133 rows x 12 columns]

In [39]:
df = df.drop(columns=["Assessor Remarks", "Location"])
print(df)

               List Year Date Recorded        Town                Address  \
Serial Number
2020177             2020    04/14/2021     Ansonia          323 BEAVER ST
2020225             2020    05/26/2021     Ansonia         152 JACKSON ST
2020090             2020    12/14/2020     Ansonia            57 PLATT ST
200500              2020    09/07/2021        Avon           245 NEW ROAD
20097               2020    11/25/2020      Bethel      8 BLACKMAN AVENUE
...                  ...           ...         ...                    ...
201166              2020    08/26/2021     Meriden  6006 MEETINGHOUSE VLG
200177              2020    06/09/2021  Middlebury       289 BURR HALL RD
200531              2020    04/05/2021  Middletown         87 WESTWOOD LA
200888              2020    07/29/2021  Middletown            PHEDON PKWY
200092              2020    11/02/2020  Middletown    1692 BARTHOLOMEW RD

               Assessed Value  Sale Amount  Sales Ratio Property Type  \
Serial Number
2020177              133000.0     248400.0     0.535400   Residential
2020225              110500.0     239900.0     0.460600   Residential
2020090              127400.0     202500.0     0.629100   Residential
200500               217640.0     400000.0     0.544100   Residential
20097                264040.0     445000.0     0.593300   Residential
...                       ...          ...          ...           ...
201166                59430.0     135000.0     0.440200   Residential
200177              1144200.0    1676250.0     0.682595   Residential
200531               285040.0     400000.0     0.712600   Residential
200888                49220.0     100000.0     0.492200   Vacant Land
200092               170650.0     325000.0     0.525000   Residential

              Non Use Code  OPM remarks
Serial Number
2020177                NaN          NaN
2020225                NaN          NaN
2020090                NaN          NaN
200500                 NaN          NaN
20097                  NaN          NaN
...                    ...          ...
201166                 NaN          NaN
200177                 NaN          NaN
200531                 NaN          NaN
200888                 NaN          NaN
200092                 NaN          NaN

[133 rows x 10 columns]

In [40]:
df = df.rename(columns={"List Year": "List_Year_Changed"})
print(df)

               List_Year_Changed Date Recorded        Town  \
Serial Number
2020177                     2020    04/14/2021     Ansonia
2020225                     2020    05/26/2021     Ansonia
2020090                     2020    12/14/2020     Ansonia
200500                      2020    09/07/2021        Avon
20097                       2020    11/25/2020      Bethel
...                          ...           ...         ...
201166                      2020    08/26/2021     Meriden
200177                      2020    06/09/2021  Middlebury
200531                      2020    04/05/2021  Middletown
200888                      2020    07/29/2021  Middletown
200092                      2020    11/02/2020  Middletown

                             Address  Assessed Value  Sale Amount  \
Serial Number
2020177                323 BEAVER ST        133000.0     248400.0
2020225               152 JACKSON ST        110500.0     239900.0
2020090                  57 PLATT ST        127400.0     202500.0
200500                  245 NEW ROAD        217640.0     400000.0
20097              8 BLACKMAN AVENUE        264040.0     445000.0
...                              ...             ...          ...
201166         6006 MEETINGHOUSE VLG         59430.0     135000.0
200177              289 BURR HALL RD       1144200.0    1676250.0
200531                87 WESTWOOD LA        285040.0     400000.0
200888                   PHEDON PKWY         49220.0     100000.0
200092           1692 BARTHOLOMEW RD        170650.0     325000.0

               Sales Ratio Property Type Non Use Code  OPM remarks
Serial Number
2020177           0.535400   Residential          NaN          NaN
2020225           0.460600   Residential          NaN          NaN
2020090           0.629100   Residential          NaN          NaN
200500            0.544100   Residential          NaN          NaN
20097             0.593300   Residential          NaN          NaN
...                    ...           ...          ...          ...
201166            0.440200   Residential          NaN          NaN
200177            0.682595   Residential          NaN          NaN
200531            0.712600   Residential          NaN          NaN
200888            0.492200   Vacant Land          NaN          NaN
200092            0.525000   Residential          NaN          NaN

[133 rows x 10 columns]

In [41]:
df = df.replace({"200400": "20040333"})
print(df)

               List_Year_Changed Date Recorded        Town  \
Serial Number
2020177                     2020    04/14/2021     Ansonia
2020225                     2020    05/26/2021     Ansonia
2020090                     2020    12/14/2020     Ansonia
200500                      2020    09/07/2021        Avon
20097                       2020    11/25/2020      Bethel
...                          ...           ...         ...
201166                      2020    08/26/2021     Meriden
200177                      2020    06/09/2021  Middlebury
200531                      2020    04/05/2021  Middletown
200888                      2020    07/29/2021  Middletown
200092                      2020    11/02/2020  Middletown

                             Address  Assessed Value  Sale Amount  \
Serial Number
2020177                323 BEAVER ST        133000.0     248400.0
2020225               152 JACKSON ST        110500.0     239900.0
2020090                  57 PLATT ST        127400.0     202500.0
200500                  245 NEW ROAD        217640.0     400000.0
20097              8 BLACKMAN AVENUE        264040.0     445000.0
...                              ...             ...          ...
201166         6006 MEETINGHOUSE VLG         59430.0     135000.0
200177              289 BURR HALL RD       1144200.0    1676250.0
200531                87 WESTWOOD LA        285040.0     400000.0
200888                   PHEDON PKWY         49220.0     100000.0
200092           1692 BARTHOLOMEW RD        170650.0     325000.0

               Sales Ratio Property Type Non Use Code  OPM remarks
Serial Number
2020177           0.535400   Residential          NaN          NaN
2020225           0.460600   Residential          NaN          NaN
2020090           0.629100   Residential          NaN          NaN
200500            0.544100   Residential          NaN          NaN
20097             0.593300   Residential          NaN          NaN
...                    ...           ...          ...          ...
201166            0.440200   Residential          NaN          NaN
200177            0.682595   Residential          NaN          NaN
200531            0.712600   Residential          NaN          NaN
200888            0.492200   Vacant Land          NaN          NaN
200092            0.525000   Residential          NaN          NaN

[133 rows x 10 columns]

In [43]:
result = df.query("`Assessed Value` < 127400 and `Property Type` == 'Commercial'") # Removed the clause that references the dropped column 'Residential Type'
print(result)

               List_Year_Changed Date Recorded          Town  \
Serial Number
200114                      2020    04/13/2021  East Windsor
200097                      2020    12/11/2020     Killingly
200562                      2020    03/15/2021       Meriden

                        Address  Assessed Value  Sale Amount  Sales Ratio  \
Serial Number
200114             12A PASCO DR        108920.0     144000.0       0.7563
200097              106 MAIN ST         64400.0      66900.0       0.9626
200562         302 EAST MAIN ST        111090.0     150000.0       0.7406

              Property Type Non Use Code  OPM remarks
Serial Number
200114           Commercial          NaN          NaN
200097           Commercial          NaN          NaN
200562           Commercial          NaN          NaN

In [44]:
result = df.groupby("Property Type")["Sale Amount"].sum()
print(result)

Property Type
Apartments          565000.0
Commercial         1958900.0
Public Utility      315000.0
Residential       47296901.0
Vacant Land        1539150.0
Name: Sale Amount, dtype: float64

In [45]:
df = df.dropna()
print(df)

Empty DataFrame
Columns: [List_Year_Changed, Date Recorded, Town, Address, Assessed Value, Sale Amount, Sales Ratio, Property Type, Non Use Code, OPM remarks]
Index: []

In [46]:
df = df.fillna(0)
print(df)

Empty DataFrame
Columns: [List_Year_Changed, Date Recorded, Town, Address, Assessed Value, Sale Amount, Sales Ratio, Property Type, Non Use Code, OPM remarks]
Index: []