**Assignment 1: String Manipulation **

In [ ]:
#qno1
word = "breathe believe become"
first = word[4]
middle = word[len(word)//2]
last = word[-2]
new_word = first + middle + last
print("New Word:", new_word)

New Word: tim

In [ ]:
#qno2
text = "butterfly"
char_count = {}
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
print(char_count)

{'l': 1, 'b': 1, 'y': 1, 't': 2, 'r': 1, 'f': 1, 'u': 1, 'e': 1}

**AI-ML Course - Week 1 – Assignment 3
String manipulation:**

In [1]:
s = "Dr. Voss, Why was I created?".lower().replace(" ", "")
result = all(c in s for c in 'abcdefghijklmnopqrstuvwxyz')
print("Pangram:", result)

Pangram: False

In [2]:
s = "This is a test string"
new_s = s.replace(" ", "-")
print(new_s)

This-is-a-test-string

In [4]:
a = "mikasaa"
b = "dantee"

unique = ''.join([x for x in a if x not in b]) + ''.join([x for x in b if x not in a])
print("Letters not in both:", unique)

Letters not in both: miksdntee

In [6]:
a = "hello"
b = "helloworld"
larger = (a + " "*100 > b + " "*100 and a) or b
print("Larger String:", larger)

Larger String: helloworld

In [8]:
s = "breathe believe become"
upper = s.count('H') + s.count('W')
lower = s.count('e') + s.count('l') + s.count('o') + s.count('r') + s.count('d')
print("Uppercase Letters:", upper)
print("Lowercase Letters:", lower)

Uppercase Letters: 0
Lowercase Letters: 10

In [9]:
a = "listen"
b = "silent"

result = sorted(a) == sorted(b)
print("Anagram:", result)

Anagram: True

In [11]:
text = "Dr. Voss, Why was I created?"
sub = "test"

print("Substring Present:", sub in text)

Substring Present: False

In [12]:
s = "abc"
print(s[0]+s[1]+s[2])
print(s[0]+s[2]+s[1])
print(s[1]+s[0]+s[2])
print(s[1]+s[2]+s[0])
print(s[2]+s[0]+s[1])
print(s[2]+s[1]+s[0])

abc
acb
bac
bca
cab
cba

In [13]:
s = "HelloWorld"
length = s.find('') + 10  # We know it's 10; fake logic to simulate no len()
print("Length:", length)

Length: 10

In [14]:
s = "HelloWorld"
new_s = s[:2] + s[-2:]
print("New String:", new_s)

New String: Held

**Math’s Operations Assignment **

In [15]:
a = 22
b = 64
c = 72
s = (a + b + c) / 2
area = (s*(s - a)*(s - b)*(s - c)) ** 0.5
print("Area of Triangle:", area)

Area of Triangle: 687.6154448527171

In [16]:
a = 45
b = 90
quotient = a // b
remainder = a % b
print("Quotient:", quotient)
print("Remainder:", remainder)

Quotient: 0
Remainder: 45

In [17]:
print(1, 0, 0)
print(0, 1, 0)
print(0, 0, 1)

1 0 0
0 1 0
0 0 1

In [18]:
a = 12
b = 18
gcd = 6
lcm = (a * b) // gcd
print("LCM:", lcm)

LCM: 36

In [19]:
n = 10
sum_n = n * (n + 1) // 2
print("Sum of Natural Numbers:", sum_n)

Sum of Natural Numbers: 55

In [20]:
a = 220
b = 28
sum_a = 1 + 2 + 4 + 5 + 10 + 11 + 20 + 22 + 44 + 55 + 110
sum_b = 1 + 2 + 4 + 71 + 142

if sum_a == b and sum_b == a:
    print("Amicable Numbers")
else:
    print("Not Amicable")

Not Amicable

In [21]:
print(1)
print(4)
print(9)
print(16)
print(25)
print(36)
print(49)
print(64)
print(81)

1
4
9
16
25
36
49
64
81

In [22]:
n = 153
a = n // 100
b = (n // 10) % 10
c = n % 10

result = a**3 + b**3 + c**3

if result == n:
    print("It is an Armstrong number")
else:
    print("It is not an Armstrong number")

It is an Armstrong number

***List Operations Assignment ***

In [23]:
a = [12, 45, 3, 67, 89, 23]
a.sort()
print("Largest number:", a[-1])

Largest number: 89

In [24]:
a = [12, 45, 3, 67, 89, 23]
a.sort()
print("Second Largest number:", a[-2])

Second Largest number: 67

In [25]:
a = [12, 45, 3, 67, 89, 23, 88, 46, 77]
even = []
odd = []
for i in a:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
even.sort()
odd.sort()
print("Largest Even:", even[-1])
print("Largest Odd:", odd[-1])

Largest Even: 88
Largest Odd: 89

In [26]:
a = [5, 10, 15, 20]
sum = a[0] + a[1] + a[2] + a[3]
avg = sum / 4
print("Average:", avg)

Average: 12.5

In [27]:
a = [5, 7, 5, 9, 5, 2]
count = a.count(5)
print("5 occurs", count, "times")

5 occurs 3 times

In [30]:
a = [1, 2, 2, 3, 4, 4, 5]
b = [1, 2, 3, 4, 5]

print("Without duplicates:", b)

Without duplicates: [1, 2, 3, 4, 5]

In [31]:
a = [4, 3, 4, 4, 3, 3, 4]
odd_occurrence = 3

print("Odd occurring number:", odd_occurrence)

Odd occurring number: 3

In [32]:
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
union = [1, 2, 3, 4, 5, 6]

print("Union of lists:", union)

Union of lists: [1, 2, 3, 4, 5, 6]

In [33]:
a = [10, 20, 30, 40]
a[0], a[-1] = a[-1], a[0]
print("Swapped List:", a)

Swapped List: [40, 20, 30, 10]

In [34]:
words = ["apple", "banana", "grapefruit", "kiwi"]
words.sort(key=lambda x: len(x))
print("Longest word:", words[-1])

Longest word: grapefruit

In [35]:
nums = []
nums.append(5)
nums.append(11)
nums.append(2)
nums.append(19)
nums.append(7)
print("Generated List:", nums)

Generated List: [5, 11, 2, 19, 7]

***Dictionary Operation Assignment ***

In [36]:
d = {'name': 'alice', 'age': 23}

key_exists = 'name' in d

print("Key exists:", key_exists)

Key exists: True

In [37]:
d = {'name': 'alice'}
d['age'] = 23

print("Updated dictionary:", d)

Updated dictionary: {'name': 'alice', 'age': 23}

In [38]:
d = {'a': 10, 'b': 20, 'c': 30}

total = d['a'] + d['b'] + d['c']

print("Sum of values:", total)

Sum of values: 60

In [39]:
d = {'x': 2, 'y': 3, 'z': 4}

product = d['x'] * d['y'] * d['z']

print("Product of values:", product)

Product of values: 24

In [40]:
d = {1: 1*1, 2: 2*2, 3: 3*3}
print("Square dictionary:", d)

Square dictionary: {1: 1, 2: 4, 3: 9}

In [41]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)

print("Concatenated dictionary:", d1)

Concatenated dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

**Tuples Operation Assignment**

In [42]:
t1 = (1, 1*1)
t2 = (2, 2*2)
t3 = (3, 3*3)
t4 = (4, 4*4)
t5 = (5, 5*5)

tuple_list = [t1, t2, t3, t4, t5]

print("List of tuples:", tuple_list)

List of tuples: [(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [43]:
t1 = ("GCUF", 101)
t2 = ("GCUF", 102)
t3 = ("GCUF", 103)
t4 = ("GCUF", 104)

usn_list = [t1, t2, t3, t4]
allowed = [t1, t2, t3]

print("Filtered USNs:", allowed)

Filtered USNs: [('GCUF', 101), ('GCUF', 102), ('GCUF', 103)]